### Libraries

In [1]:
import pandas as pd

# 1. Loans dataset

In [2]:
# Load data
loan_df = pd.read_csv('Data/Loans.csv', sep=';', low_memory=False)

In [17]:
# Summary of data
summary_stat = loan_df.groupby(['activity_id','activity_name', 'sector_name']).size().reset_index(name='counts')
summary_stat.sort_values(by=['counts'], ascending=False).head(50)

     activity_id                   activity_name     sector_name  counts
17            31                         Farming     Agriculture   22066
35            57                   General Store          Retail   18408
97           134       Personal Housing Expenses         Housing    9734
58            88                          Retail          Retail    9329
43            67           Food Production/Sales            Food    9125
0              9                  Clothing Sales        Clothing    8003
67            99                            Pigs     Agriculture    7572
85           120                     Agriculture     Agriculture    7433
5             15                   Grocery Store            Food    5646
121          169             Fruits & Vegetables            Food    5029
40            63                    Fish Selling            Food    4110
142          200          Higher education costs       Education    3973
47            73                       Livestock     Agriculture    3528
57            87                     Food Market            Food    3433
138          195                 Home Appliances    Personal Use    3366
130          181                            Food            Food    2995
34            56                          Cattle     Agriculture    2985
18            32                       Tailoring        Services    2825
70           102                         Poultry     Agriculture    2753
79           112                         Cereals            Food    2659
77           110                    Animal Sales     Agriculture    2578
133          185                      Food Stall            Food    2554
38            61                           Dairy     Agriculture    2531
59            89                         Fishing            Food    2444
29            47                          Sewing        Services    2396
86           121                        Services        Services    2364
30            49                    Beauty Salon        Services    2217
22            37            Motorcycle Transport  Transportation    2037
145          203                     Home Energy    Personal Use    2030
113          158  Primary/secondary school costs       Education    1976
135          192       Personal Medical Expenses          Health    1743
28            46                      Restaurant            Food    1665
54            84                   Used Clothing        Clothing    1643
8             19                 Cosmetics Sales          Retail    1616
37            60                  Charcoal Sales          Retail    1586
160          224               Personal Expenses    Personal Use    1463
16            29             Home Products Sales          Retail    1454
46            72                          Crafts            Arts    1321
14            27                          Bakery            Food    1286
156          220                       Beverages            Food    1185
74           107                  Transportation  Transportation    1180
131          183                        Clothing        Clothing    1145
106          145                         Weaving            Arts    1100
10            23                      Shoe Sales          Retail    1070
36            59                            Taxi  Transportation    1035
44            68                   Farm Supplies     Agriculture    1021
103          142         Personal Products Sales          Retail    1007
127          176              Education provider       Education     860
23            39                    Construction    Construction     808
109          149                      Embroidery            Arts     804

In [30]:
# Filter loan data
loan_df_filter = loan_df.loc[loan_df.activity_id == 142]

In [31]:
# loan id list for relationship tables
loan_id_list = list(loan_df_filter.loan_id.unique())

# Geocode lat/lon list for geocode table
geocode_latitude_list = list(loan_df_filter.geocode_latitude.unique())
geocode_longitude_list = list(loan_df_filter.geocode_longitude.unique())

# Activity id list for relationship tables
activity_id_list = list(loan_df_filter.activity_id.unique())

# Sector id list for relationship tables
sector_id_list = list(loan_df_filter.sector_id.unique())

In [32]:
print(len(loan_df))
print(len(loan_df_filter))

204045
1007

# 2. Terms dataset

In [33]:
# Load data
term_df = pd.read_csv('Data/Terms.csv', sep=';')
# Filter lender data
term_df_filter = term_df[term_df['loan_id'].isin(loan_id_list)]

In [34]:
print(len(term_df))
print(len(term_df_filter))

204045
1007

# 3. Repayments dataset

In [35]:
# Load data
repayment_df = pd.read_csv('Data/Repayments.csv', sep=';')
# Filter lender data
repayment_df_filter = repayment_df[repayment_df['loan_id'].isin(loan_id_list)]

In [36]:
print(len(repayment_df))
print(len(repayment_df_filter))

11744
0

# 4. Borrower dataset

In [37]:
# Load data
LoanBorrowerRelationship_df = pd.read_csv('Data/LoanBorrowerRelationship.csv', sep=';')
borrower_df = pd.read_csv('Data/Borrowers.csv', sep=';')
# Filter borrower relationships data
LoanBorrowerRelationship_df_filter = LoanBorrowerRelationship_df[LoanBorrowerRelationship_df['loan_id'].isin(loan_id_list)]
# borrower id list for relationship tables
borrower_id_list = list(LoanBorrowerRelationship_df_filter.borrower_id.unique())
# Filter borrower data
borrower_df_filter = borrower_df[borrower_df['borrower_id'].isin(borrower_id_list)]

In [38]:
print(len(borrower_df))
print(len(borrower_df_filter))

390284
1410

In [39]:
print(len(LoanBorrowerRelationship_df))
print(len(LoanBorrowerRelationship_df_filter))

394619
1431

# 5. Loan actions

In [40]:
# Load data
action_df = pd.read_csv('Data/LoanActions.csv', sep=';')
# Filter loan actions data
action_df_filter = action_df[action_df['loan_id'].isin(loan_id_list)]
# lender id list for relationship tables
lender_id_list = list(action_df_filter.lender_id.unique())

In [41]:
print(len(action_df))
print(len(action_df_filter))

4134372
16226

# 6. Lender dataset

In [42]:
# Load data
lender_df = pd.read_csv('Data/Lenders.csv', sep=';')
# Filter lender data
lender_df_filter = lender_df[lender_df['lender_id'].isin(lender_id_list)]

In [43]:
print(len(lender_df))
print(len(lender_df_filter))

752085
11480

# 7. Team dataset

In [44]:
# Load data
LenderTeamRelationship_df = pd.read_csv('Data/LenderTeamRelationship.csv', sep=';')
LoanTeamRelationship_df = pd.read_csv('Data/LoanTeamRelationship.csv', sep=';')
team_df = pd.read_csv('Data/Teams.csv', sep=';')

# Filter team relationships data
LoanTeamRelationship_df_filter = LoanTeamRelationship_df[LoanTeamRelationship_df['loan_id'].isin(loan_id_list)]

# Team id list for relationship tables
team_id_list = list(LoanTeamRelationship_df_filter.team_id.unique())

# Filter team data
team_df_filter = team_df[team_df['team_id'].isin(team_id_list)]

# Filter relationship data
LenderTeamRelationship_df_filter = LenderTeamRelationship_df[ (LenderTeamRelationship_df['lender_id'].isin(lender_id_list)) & (LenderTeamRelationship_df['team_id'].isin(team_id_list))]

In [45]:
print(len(team_df))
print(len(team_df_filter))

25710
1799

In [46]:
print(len(LoanTeamRelationship_df))
print(len(LoanTeamRelationship_df_filter))

1695065
7541

In [47]:
print(len(LenderTeamRelationship_df))
print(len(LenderTeamRelationship_df_filter))

7594131
3008479

# 8. Geocode dataset

In [48]:
# Load data
geocode_df = pd.read_csv('Data/Geocodes.csv', sep=';')
# Filter geocode data
geocode_df_filter = geocode_df[ (geocode_df['geocode_latitude'].isin(geocode_latitude_list)) & (geocode_df['geocode_longitude'].isin(geocode_longitude_list))]

In [49]:
print(len(geocode_df))
print(len(geocode_df_filter))

8147
367

# 9. Country dataset

In [50]:
# Load data
country_df = pd.read_csv('Data/Countries.csv', sep=';')
# get list of unique isoCodes
country_isoCode_list = list(lender_df_filter.country_isoCode.unique())
country_isoCode_list.extend(x for x in list(geocode_df_filter.country_isoCode.unique()) if x not in country_isoCode_list)
# Filter geocode data
country_df_filter = country_df[country_df['country_isoCode'].isin(country_isoCode_list)]

In [51]:
print(len(country_df))
print(len(country_df_filter))

91
60

# 10. Activity dataset

In [52]:
# Load data
activity_df = pd.read_csv('Data/Activities.csv', sep=';')
# Filter geocode data
activity_df_filter = activity_df[activity_df['activity_id'].isin(activity_id_list)]

In [53]:
print(len(activity_df))
print(len(activity_df_filter))

163
1

# 11. Sector dataset

In [54]:
# Load data
sector_df = pd.read_csv('Data/Sectors.csv', sep=';')
# Filter geocode data
sector_df_filter = sector_df[sector_df['sector_id'].isin(sector_id_list)]

In [55]:
print(len(sector_df))
print(len(sector_df_filter))

15
1

# Store data

In [56]:
loan_df_filter.to_csv('Filtered/Loans.csv', sep=';', index=False)
term_df_filter.to_csv('Filtered/Terms.csv', sep=';', index=False)
repayment_df_filter.to_csv('Filtered/Repayments.csv', sep=';', index=False)

borrower_df_filter.to_csv('Filtered/Borrowers.csv', sep=';', index=False)
LoanBorrowerRelationship_df_filter.to_csv('Filtered/LoanBorrowerRelationship.csv', sep=';', index=False)

lender_df_filter.to_csv('Filtered/Lenders.csv', sep=';', index=False)
action_df_filter.to_csv('Filtered/LoanActions.csv', sep=';', index=False)

team_df_filter.to_csv('Filtered/Teams.csv', sep=';', index=False)
LenderTeamRelationship_df_filter.to_csv('Filtered/LenderTeamRelationship.csv', sep=';', index=False)
LoanTeamRelationship_df_filter.to_csv('Filtered/LoanTeamRelationship.csv', sep=';', index=False)

geocode_df_filter.to_csv('Filtered/Geocodes.csv', sep=';', index=False)
country_df_filter.to_csv('Filtered/Countries.csv', sep=';', index=False)
activity_df_filter.to_csv('Filtered/Activities.csv', sep=';', index=False)
sector_df_filter.to_csv('Filtered/Sectors.csv', sep=';', index=False)